<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for signing up to selling your soul, <%= @user.email %>!</h1>
    <p>Now sign in and wreck some shit!</p>
  </body>
</html>
